<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction.-Data-Frames.-CSV-and-Excel-files.-Average,-max,-min,-etc." data-toc-modified-id="Introduction.-Data-Frames.-CSV-and-Excel-files.-Average,-max,-min,-etc.-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction. Data Frames. CSV and Excel files. Average, max, min, etc.</a></span><ul class="toc-item"><li><span><a href="#Import-the-pandas-library" data-toc-modified-id="Import-the-pandas-library-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import the pandas library</a></span></li><li><span><a href="#Read-a-table-from-a-file" data-toc-modified-id="Read-a-table-from-a-file-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Read a table from a file</a></span><ul class="toc-item"><li><span><a href="#Reading-a-csv-file" data-toc-modified-id="Reading-a-csv-file-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Reading a csv-file</a></span></li><li><span><a href="#Reading-an-xlsx-file-from-Microsoft-Excel" data-toc-modified-id="Reading-an-xlsx-file-from-Microsoft-Excel-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Reading an xlsx-file from Microsoft Excel</a></span></li><li><span><a href="#Having-a-look-at-a-DataFrame" data-toc-modified-id="Having-a-look-at-a-DataFrame-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Having a look at a DataFrame</a></span></li><li><span><a href="#Head-and-tail" data-toc-modified-id="Head-and-tail-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Head and tail</a></span></li><li><span><a href="#Shape" data-toc-modified-id="Shape-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Shape</a></span></li><li><span><a href="#Columns" data-toc-modified-id="Columns-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Columns</a></span></li><li><span><a href="#Describe" data-toc-modified-id="Describe-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Describe</a></span></li></ul></li></ul></li><li><span><a href="#Indexing.-Queries." data-toc-modified-id="Indexing.-Queries.-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Indexing. Queries.</a></span><ul class="toc-item"><li><span><a href="#Indexing" data-toc-modified-id="Indexing-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Indexing</a></span><ul class="toc-item"><li><span><a href="#Short-reminder-of-list-indexing" data-toc-modified-id="Short-reminder-of-list-indexing-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Short reminder of list indexing</a></span></li></ul></li><li><span><a href="#Selecting-columns-from-a-data-frame-in-pandas" data-toc-modified-id="Selecting-columns-from-a-data-frame-in-pandas-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Selecting columns from a data frame in pandas</a></span></li><li><span><a href="#Selecting-rows-from-a-data-frame-in-pandas" data-toc-modified-id="Selecting-rows-from-a-data-frame-in-pandas-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Selecting rows from a data frame in pandas</a></span></li><li><span><a href="#Queries" data-toc-modified-id="Queries-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Queries</a></span><ul class="toc-item"><li><span><a href="#More-than-one-logical-condition" data-toc-modified-id="More-than-one-logical-condition-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>More than one logical condition</a></span></li><li><span><a href="#Calculate-on-part-of-a-data-frame" data-toc-modified-id="Calculate-on-part-of-a-data-frame-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Calculate on part of a data frame</a></span></li></ul></li></ul></li><li><span><a href="#Time-Series.-Resample." data-toc-modified-id="Time-Series.-Resample.-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Time Series. Resample.</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Resample" data-toc-modified-id="Resample-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Resample</a></span></li></ul></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Exercises</a></span><ul class="toc-item"><li><span><a href="#Lettuce-freshweight" data-toc-modified-id="Lettuce-freshweight-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Lettuce freshweight</a></span></li><li><span><a href="#Elements-(fertilizers)-in-tanks" data-toc-modified-id="Elements-(fertilizers)-in-tanks-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Elements (fertilizers) in tanks</a></span></li></ul></li><li><span><a href="#Links" data-toc-modified-id="Links-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Links</a></span></li></ul></div>

# pandas

## Introduction. Data Frames. CSV and Excel files. Average, max, min, etc.

___pandas___ is a python library with functions and tools for data analysis. 

It provides means to handle series and tables of data, make calculations with them, select data based on criteria and save the results to files.

A simple example of pandas usage is reading a table of data from an excel or csv file, select some rows and columns and calculate the average value.

More complicated examples include creating new tables based on the previous data, and also working with time. An example would be to calculate the daily (or hourly, monthly) average (or sum, or maximum value) of a value from of a high number of measurements, perhaps each minute or 5 minutes.

The following examples refer to measurements on different nutrients in an experiment with lettuce. They will help us to practice the `pandas` usage.

There are three different treatments, with different amounts of nitrogen as nitrate and ammonium, as well as the amount of other elements. The measurements are what was present in the lettuce at the end of the cultivation cycle. This is the kind of data that we often need to group by categories, and where we might want to calculate averages or sums for each group.

Later, in the last part of this session we will use climate data to give an example of the use of ___time series___, which is data that is not in categories or groups, but rather in points ordered in time, events that happen one after the other.

### Import the pandas library

It is a common practice to import pandas using the alias ___pd___, like this:

In [2]:
import pandas as pd

From there, the package can be used with `pd.` + the name of the function (dot operator `.`)

For example, to access a `read_csv` function we can write `pd.read_csv`.

Of course it is possible to just `import pandas` and then use `pandas.read_csv`, it makes no difference.

### Read a table from a file

We will show how to import data from two common file types: ___comma-separated values___ and ___excel___ files.

#### Reading a csv-file

<img src='../misc/img/csv_file.png' width='700'>

csv files are raw-text files that separate columns in a table by using a previously defined character, most commonly a comma `,`

Note however, that other characters might be used. For example, Microsoft Excel uses a semicolon `;` when it saves a sheet as csv file!

(like in the example shown)

We can read csv files using the `read_csv` function from pandas. The function's most important argument is the file name:

In [3]:
df_nutrients = pd.read_csv( 'data/nutrients.csv', sep=';' )

Note that by default, the function looks for ___comma___ separated files `,`, which is not the case in the file shown (created with excel). 

Therefore it is necessary to use the parameter `sep=';'` to indicate that, in this case, the columns are separated by semicolon characters.

The function `pd.read_csv` returns a ___Data Frame___, which is the most used data type for tables.

In [4]:
type( df_nutrients )

pandas.core.frame.DataFrame

Inside the Data Frame that was created, `df_nutrients` in this example, we have the content of the file, in rows and columns:

In [5]:
df_nutrients

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,all in (g)
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
1,4,Control,21645.354288,12437.070289,34081.642850,11491.501873,44055.094673,"1,635.42","18,548.59",278.240000,27.742095,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN
3,1,Au47,20802.809014,11967.706838,31895.044325,12630.322442,41029.996115,1439.81973474096,26337.7301089178,335.542442,28.949213,NaN
4,6,Au47,21772.696629,11997.356846,33770.053475,10672.216286,47175.575986,1467.01863862725,21585.5732755892,316.188490,29.377145,NaN
5,2,Au47,17620.295796,13936.716929,31557.012725,11265.672917,42896.950847,1502.48748702529,24398.428146034,257.110626,25.003664,NaN
6,7,Au53,20342.654221,13938.842429,34281.496650,9118.485757,47207.997883,1394.8993926275,19296.3288426945,285.840136,31.025050,NaN
7,5,Au53,21635.106571,15013.877702,36648.984274,6988.360757,46268.123502,1730.13032705656,15865.5454860459,265.159355,29.770982,NaN
8,9,Au53,22563.040451,12648.008949,35211.049400,10432.143429,40841.131830,1348.28810098257,22660.4840070055,301.044988,25.868277,NaN

Note that pandas:
* tries to use the data in the first row as column names (in this case this is correct)
* adds a column at the beginning, with numbers: that is the ___index___ of all rows
* infers the data type of each column: text, numbers... (this fails if there are mixed types)
* adds a value of __NaN__ (not-a-number) to empty cells

#### Reading an xlsx-file from Microsoft Excel

Microsoft Excel is a widespread software for working with data tables, therefore it is very useful to import this kind of files into pandas.

The main difference from csv files to take into account is that excel files can contain several different sheets, and we need to specify which one we want to read to a single table, to a single pandas Data Frame object.

<img src='../misc/img/excel_file.png' width='700'>

We will import the sheet "Nutrients", which has the same values that we had previously from the csv file.

In [ ]:
# df_nutrients = pd.read_csv( 'data/nutrients.csv', ';' ) â†’ how we read a csv file previously

df_nutrients_xlsx = pd.read_excel( '../data/lettuce.xlsx', sheet_name='Nutrients' )

In [ ]:
df_nutrients_xlsx

#### Having a look at a DataFrame

There are a number of functions that can be used directly on a DataFrame and that help to have information from the data inside. 

We will show some of the most common in the next cells.

#### Head and tail

`.head()` shows the first rows in the table, while `.tail()` shows the last ones.

In [12]:
df_nutrients.head()

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,all in (g)
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
1,4,Control,21645.354288,12437.070289,34081.642850,11491.501873,44055.094673,"1,635.42","18,548.59",278.240000,27.742095,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN
3,1,Au47,20802.809014,11967.706838,31895.044325,12630.322442,41029.996115,1439.81973474096,26337.7301089178,335.542442,28.949213,NaN
4,6,Au47,21772.696629,11997.356846,33770.053475,10672.216286,47175.575986,1467.01863862725,21585.5732755892,316.188490,29.377145,NaN

In [13]:
df_nutrients.tail()

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,all in (g)
4,6,Au47,21772.696629,11997.356846,33770.053475,10672.216286,47175.575986,1467.01863862725,21585.5732755892,316.188490,29.377145,NaN
5,2,Au47,17620.295796,13936.716929,31557.012725,11265.672917,42896.950847,1502.48748702529,24398.428146034,257.110626,25.003664,NaN
6,7,Au53,20342.654221,13938.842429,34281.496650,9118.485757,47207.997883,1394.8993926275,19296.3288426945,285.840136,31.025050,NaN
7,5,Au53,21635.106571,15013.877702,36648.984274,6988.360757,46268.123502,1730.13032705656,15865.5454860459,265.159355,29.770982,NaN
8,9,Au53,22563.040451,12648.008949,35211.049400,10432.143429,40841.131830,1348.28810098257,22660.4840070055,301.044988,25.868277,NaN

By default, they show 5 rows, but a number can be passed as parameter:

In [14]:
df_nutrients.head( 2 )

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,all in (g)
0,3,Control,18761.904841,10306.002208,29067.27250,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
1,4,Control,21645.354288,12437.070289,34081.64285,11491.501873,44055.094673,"1,635.42","18,548.59",278.240000,27.742095,NaN

#### Shape

`.shape` prints the number of rows and columns in the table, very useful to check that the data was imported correctly.

In [15]:
df_nutrients.shape

(9, 12)

#### Columns

`.columns` gives the names of the columns in the table

In [16]:
df_nutrients.columns

Index(['Tank', 'Treatment', 'NitrateN', 'AmmoniumN', 'TotalN', 'Phosphorus',
       'Potassium', 'Magnesium', 'Calcium', 'Iron', 'Boron', 'all in (g)'],
      dtype='object')

It can also be used to change the name of a column:

In [17]:
df_nutrients.columns = [ 'Tank', 'Treatment', 'NitrateN', 'AmmoniumN', 'TotalN', 'Phosphorus',
       'Potassium', 'Magnesium', 'Calcium', 'Iron', 'Boron', 'New Column Name' ]

In [18]:
df_nutrients.head()

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,New Column Name
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
1,4,Control,21645.354288,12437.070289,34081.642850,11491.501873,44055.094673,"1,635.42","18,548.59",278.240000,27.742095,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN
3,1,Au47,20802.809014,11967.706838,31895.044325,12630.322442,41029.996115,1439.81973474096,26337.7301089178,335.542442,28.949213,NaN
4,6,Au47,21772.696629,11997.356846,33770.053475,10672.216286,47175.575986,1467.01863862725,21585.5732755892,316.188490,29.377145,NaN

#### Describe

`.describe()` returns a table with descriptive statistics for all columns in the table, also useful to spot potential errors.

In [19]:
df_nutrients.describe()

,Tank,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Iron,Boron,New Column Name
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,0.0
mean,5.000000,20220.235622,12541.972269,32664.723186,10626.614301,43889.134718,277.788409,26.726355,NaN
std,2.738613,2018.980368,1553.319989,2956.945396,1768.905204,2481.705710,36.436523,3.731827,NaN
min,1.000000,16838.258788,10306.002208,27469.952475,6988.360757,40841.131830,222.039645,19.138933,NaN
25%,3.000000,18761.904841,11967.706838,31557.012725,10355.950873,42136.987241,257.110626,25.003664,NaN
50%,5.000000,20802.809014,12437.070289,33770.053475,10672.216286,43390.354388,278.240000,27.742095,NaN
75%,7.000000,21645.354288,13936.716929,34281.496650,11491.501873,46268.123502,301.044988,29.377145,NaN
max,9.000000,22563.040451,15013.877702,36648.984274,12684.874373,47207.997883,335.542442,31.025050,NaN

It is also possible to check those same descriptive statistics separately.

For example, we can get the mean only, without having the other values:

In [20]:
df_nutrients.mean()

/tmp/ipykernel_397874/2352467965.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_nutrients.mean()

Tank                   5.000000
NitrateN           20220.235622
AmmoniumN          12541.972269
TotalN             32664.723186
Phosphorus         10626.614301
Potassium          43889.134718
Iron                 277.788409
Boron                 26.726355
New Column Name             NaN
dtype: float64

Note that:
* the tank is a categorical value (it is not a _number_ of tanks: could have been tank A, B, etc.), but ___pandas___ calculates the statistics all the same
* the column `treatment` is not included, because it has text values (could have been the same with the `tank` column)
* there is an empty column at the end of the table, which gets a count value of 0, as there are no cells with any value there

Here the complete table again, for reference only:

In [ ]:
df_nutrients

## Indexing. Queries.

Having some general data about the whole table is an important step of data exploration, because we can get a feeling of what is happening (what is big, what is missing), and also because it helps to spot possible errors in calculations.

However, it is most common that we want to answer questions like:
* What are the average nutrients *per treatment*?
* Which tanks were used for the Control treatment?
* What is the ratio of ammonium/nitrate for the control treatment?

This kind of questions require that we _select_ some rows and columns before asking for means or sums. We call this selection ___indexing___, similar to the indexing of lists.

### Indexing

To index lists, and then also data frames, we use square brackets. 

With lists, we use always numeric indexes. 

With data frames we can use colum names and numeric indexes.

#### Short reminder of list indexing

In [ ]:
example_list1 = [ 'red', 'blue', 'black', 'yellow' ]

example_list1[ 2 ]

We read that like "example_list1 in the position 2 is 'black'", 

or "the value of example_list1 in the position 2 is 'black'", 

or "there is a 'black' in the position 2 of example_list1"

In [ ]:
example_list2 = [ [ 'red', 'blue', 'black', 'yellow' ],
                  [ 'north', 'south', 'up', 'down' ],
                  [ 'apple', 'banana', 'peach', 'pear' ] ]

In [ ]:
example_list2[ 2 ]

In [ ]:
example_list2[ 2 ][ 1 ]

We will use the same syntax with pandas DataFrames, but we will index rows with the index (mostly with numbers) and columns with their name.

### Selecting columns from a data frame in pandas

Our DataFrame with nutrients looks like this:

In [21]:
df_nutrients

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,New Column Name
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
1,4,Control,21645.354288,12437.070289,34081.642850,11491.501873,44055.094673,"1,635.42","18,548.59",278.240000,27.742095,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN
3,1,Au47,20802.809014,11967.706838,31895.044325,12630.322442,41029.996115,1439.81973474096,26337.7301089178,335.542442,28.949213,NaN
4,6,Au47,21772.696629,11997.356846,33770.053475,10672.216286,47175.575986,1467.01863862725,21585.5732755892,316.188490,29.377145,NaN
5,2,Au47,17620.295796,13936.716929,31557.012725,11265.672917,42896.950847,1502.48748702529,24398.428146034,257.110626,25.003664,NaN
6,7,Au53,20342.654221,13938.842429,34281.496650,9118.485757,47207.997883,1394.8993926275,19296.3288426945,285.840136,31.025050,NaN
7,5,Au53,21635.106571,15013.877702,36648.984274,6988.360757,46268.123502,1730.13032705656,15865.5454860459,265.159355,29.770982,NaN
8,9,Au53,22563.040451,12648.008949,35211.049400,10432.143429,40841.131830,1348.28810098257,22660.4840070055,301.044988,25.868277,NaN

We can select only the nitrates' column with:

In [27]:
df_nutrients[ ['NitrateN'] ]

       NitrateN
0  18761.904841
1  21645.354288
2  16838.258788
3  20802.809014
4  21772.696629
5  17620.295796
6  20342.654221
7  21635.106571
8  22563.040451

Or more than one column at a time...

To select nitrates and ammonium, we use a list of columns:

In [28]:
df_nutrients[ [ 'NitrateN', 'AmmoniumN' ] ]

       NitrateN     AmmoniumN
0  18761.904841  10306.002208
1  21645.354288  12437.070289
2  16838.258788  10632.168232
3  20802.809014  11967.706838
4  21772.696629  11997.356846
5  17620.295796  13936.716929
6  20342.654221  13938.842429
7  21635.106571  15013.877702
8  22563.040451  12648.008949

The syntax select columns uses a list of the columns to be selected:

dataframe_name[ [ column_name_1, column_name_2, ... , column_name_n ] ]

Again, we can use the functions `head`, `tail`, `describe`, `mean`, etc in the selected columns, whether they are one or more:

In [29]:
df_nutrients[ [ 'NitrateN', 'AmmoniumN' ] ].head()

       NitrateN     AmmoniumN
0  18761.904841  10306.002208
1  21645.354288  12437.070289
2  16838.258788  10632.168232
3  20802.809014  11967.706838
4  21772.696629  11997.356846

In [30]:
df_nutrients[ [ 'NitrateN', 'AmmoniumN' ] ].describe()

           NitrateN     AmmoniumN
count      9.000000      9.000000
mean   20220.235622  12541.972269
std     2018.980368   1553.319989
min    16838.258788  10306.002208
25%    18761.904841  11967.706838
50%    20802.809014  12437.070289
75%    21645.354288  13936.716929
max    22563.040451  15013.877702

In [31]:
df_nutrients[ [ 'NitrateN', 'AmmoniumN' ] ].std()

NitrateN     2018.980368
AmmoniumN    1553.319989
dtype: float64

### Selecting rows from a data frame in pandas

To select rows from a data frame, we need to know ___the exact index___ of that row. In most cases, the index is a list of numbers, so we need the row number.

The index is that column without name, on the far left of the table:

In [32]:
df_nutrients

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,New Column Name
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
1,4,Control,21645.354288,12437.070289,34081.642850,11491.501873,44055.094673,"1,635.42","18,548.59",278.240000,27.742095,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN
3,1,Au47,20802.809014,11967.706838,31895.044325,12630.322442,41029.996115,1439.81973474096,26337.7301089178,335.542442,28.949213,NaN
4,6,Au47,21772.696629,11997.356846,33770.053475,10672.216286,47175.575986,1467.01863862725,21585.5732755892,316.188490,29.377145,NaN
5,2,Au47,17620.295796,13936.716929,31557.012725,11265.672917,42896.950847,1502.48748702529,24398.428146034,257.110626,25.003664,NaN
6,7,Au53,20342.654221,13938.842429,34281.496650,9118.485757,47207.997883,1394.8993926275,19296.3288426945,285.840136,31.025050,NaN
7,5,Au53,21635.106571,15013.877702,36648.984274,6988.360757,46268.123502,1730.13032705656,15865.5454860459,265.159355,29.770982,NaN
8,9,Au53,22563.040451,12648.008949,35211.049400,10432.143429,40841.131830,1348.28810098257,22660.4840070055,301.044988,25.868277,NaN

In this case, the index is made up from numbers from 0 to 9, as we can check here:

In [ ]:
df_nutrients.index

To select a particular row using the index number, we need the ___index locator___ in the form:
    
    dataframe_name.iloc[ row_number ]

In [ ]:
df_nutrients.iloc[ 2 ]

However, that is not commonly needed.

More often, we select a group of rows according with a condition in a column. For example, we could select all rows from a certain treatment.

We can select groups of rows using queries, as described below.

### Queries

This section shows how to select the rows of a dataframe that fulfil a logical condition.

The general syntax is:
    
    dataframe_name[ (condition) ]
    
And the form of the _condition_ that we will show here is written as:
    
    dataframe_name[ column ] == value
    
Of course, we can use other logical operators, not only *is equal to*: `==`, `<`, `>`, `<=`, `>=`.

For example, we can select only the _control_ treatment from the nutrient dataframe as follows:

In [40]:
df_nutrients[ df_nutrients['Treatment']=='Control' ] # Get part of a table with a selection rule

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,New Column Name
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
1,4,Control,21645.354288,12437.070289,34081.642850,11491.501873,44055.094673,"1,635.42","18,548.59",278.240000,27.742095,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN

Some people like to separate it in two lines, to have a better view of what is happening:

In [41]:
condition = df_nutrients['Treatment']=='Control' # First define the selection rule
df_nutrients[ condition ] # Then get the part of the table

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,New Column Name
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
1,4,Control,21645.354288,12437.070289,34081.642850,11491.501873,44055.094673,"1,635.42","18,548.59",278.240000,27.742095,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN

The result is exactly the same, feel free to use the form that best fit your needs!

#### More than one logical condition

Sometimes, we need to look for parts of a data frame that fulfil more than one logical condition.

Following with out example, the nutrients in the lettuce experiment, we could look for:
* cases where an element in a treatment falls above or under a certain treshold, for example, cases with low nitrogen in the control treatment
* cases where two elements are above or under a treshold value, like very low values of iron and boron
* cases where a value is outside a range,

Note: In these cases we must use ___bitwise logical operators___, which are & |:
* & â†’ ___and___ â†’ condition 1 & condition2
* | â†’ ___or___ â†’ condition 1 | condition2

In [42]:
df_nutrients[ (df_nutrients['Treatment']=='Control') & (df_nutrients['NitrateN']<20000) ]

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,New Column Name
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN

Again, we can write the code in one or more lines with the same result.

In [43]:
control_treatment = df_nutrients['Treatment']=='Control' # First condition

low_nitrate = df_nutrients['NitrateN']<20000 # Second condition

df_nutrients[ control_treatment & low_nitrate ]

,Tank,Treatment,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Magnesium,Calcium,Iron,Boron,New Column Name
0,3,Control,18761.904841,10306.002208,29067.272500,12684.874373,42136.987241,1504.5355,22010.605,222.039645,23.661832,NaN
2,8,Control,16838.258788,10632.168232,27469.952475,10355.950873,43390.354388,"1,383.34","16,853.25",238.930000,19.138933,NaN

Another example: Select the rows with low Iron or low Boron

In [ ]:
low_iron = df_nutrients['Iron']<250 # First condition

low_boron = df_nutrients['Boron']<20 # Second condition

df_nutrients[ low_iron | low_boron ]

#### Calculate on part of a data frame

After selecting part of a data frame we can make calculations, like the average of a treatment.

In [44]:
control_selection = df_nutrients[ 'Treatment' ] == 'Control' # Selection condition
# print( control_selection ) # You can activate this line if you feel curious about what is inside that list

In [45]:
df_nutrients[ control_selection ].describe()

,Tank,NitrateN,AmmoniumN,TotalN,Phosphorus,Potassium,Iron,Boron,New Column Name
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,0.0
mean,5.000000,19081.839305,11125.080243,30206.289275,11510.775707,43194.145434,246.403215,23.514287,NaN
std,2.645751,2419.464886,1147.860827,3449.874174,1164.581374,973.990501,28.835858,4.303478,NaN
min,3.000000,16838.258788,10306.002208,27469.952475,10355.950873,42136.987241,222.039645,19.138933,NaN
25%,3.500000,17800.081814,10469.085220,28268.612487,10923.726373,42763.670815,230.484823,21.400383,NaN
50%,4.000000,18761.904841,10632.168232,29067.272500,11491.501873,43390.354388,238.930000,23.661832,NaN
75%,6.000000,20203.629564,11534.619261,31574.457675,12088.188123,43722.724531,258.585000,25.701964,NaN
max,8.000000,21645.354288,12437.070289,34081.642850,12684.874373,44055.094673,278.240000,27.742095,NaN

And we can also select several columns, either in a single line:

In [ ]:
df_nutrients[ control_selection ][ [ 'NitrateN', 'Iron' ] ].mean()

or splitting in two lines of code:

In [ ]:
interesting_elements = [ 'NitrateN', 'Iron' ]
df_nutrients[ control_selection ][ interesting_elements ].mean()

Lastly, you can use the function `.groupby()` to get the descriptive statistics of the whole table, but by groups. For example, for each tratment:

In [ ]:
df_nutrients.groupby( 'Treatment' ).mean()

In [ ]:
df_nutrients.groupby( 'Treatment' ).min()

There are many more applications and uses of these (and other) pandas functions, but they may be stuff for a more advanced course. This introduction aims at giving you only an idea of what can be done and the first steps to get you started!

## Time Series. Resample.

`pandas` has a very useful set of functions to deal with time series data, that is, data that are ordered in time.

For this introductory tutorial, we will limit ourselves to the following:
* making a time index for a data frame
* selecting rows between times, using `pd.Timestamp`
* using `pd.resample` to calculate averages

We will use data from climate sensors from the meteorological station at the agroforestry plot from the HNEE.

<img src='misc/img/agroforst.png' width='300'>

The data is in another excel file, which we import as follows:

In [55]:
df_climate = pd.read_csv( 'data/agroforst1.csv', sep=';' )

In [56]:
df_climate.head()

                  Date  Temperature  Relative Humidity  Dew Point  Rain
0  2019-07-05 10:50:00        18.25              64.68      11.50   0.0
1  2019-07-05 10:55:00        18.27              64.12      11.39   0.0
2  2019-07-05 11:00:00        17.31              66.58      11.04   0.0
3  2019-07-05 11:05:00        16.96              68.21      11.08   0.0
4  2019-07-05 11:10:00        17.22              68.62      11.42   0.0

In [57]:
df_climate.tail()

                      Date  Temperature  Relative Humidity  Dew Point  Rain
19396  2019-09-11 23:20:00        16.02              63.59       9.13   0.0
19397  2019-09-11 23:25:00        16.30              62.20       9.07   0.0
19398  2019-09-11 23:30:00        16.36              62.61       9.23   0.0
19399  2019-09-11 23:35:00        16.04              64.15       9.28   0.0
19400  2019-09-11 23:40:00        15.87              65.25       9.37   0.0

We have data measurements in (about) 5-minutes intervales, measuring air temperature, relative humidity, dew point temperature and rainfall.

The data span from 5th of July until the 11th of September of 2019, a little more than 2 months of data.

Note that the index is numeric. We want to make it time-aware using the data in the ___Date and Time___ column to be able to select rows in time ranges.

For that, we use the function `pd.DatetimeIndex`, and send as argument the column from te table that has the date and time.

In [59]:
df_climate.head()

                  Date  Temperature  Relative Humidity  Dew Point  Rain
0  2019-07-05 10:50:00        18.25              64.68      11.50   0.0
1  2019-07-05 10:55:00        18.27              64.12      11.39   0.0
2  2019-07-05 11:00:00        17.31              66.58      11.04   0.0
3  2019-07-05 11:05:00        16.96              68.21      11.08   0.0
4  2019-07-05 11:10:00        17.22              68.62      11.42   0.0

Old index:

In [60]:
df_climate.index

RangeIndex(start=0, stop=19401, step=1)

New index:

In [64]:
df_climate.index = pd.DatetimeIndex( df_climate[ 'Date' ] )

Note: A common source of error in this step is a confusion between days and monts (because of the order). It can also happen with the year, if only the last 2 numbers are written: Which are the day, month and year if the date is __10-11-12__?

For the first case, you can specify if days or months go first:
`df_climate.index = pd.DatetimeIndex( df_climate[ 'Date and Time' ], dayfirst=True, yearfirst=True )`

Now we have the index as a time object and can select rows according with it:

In [65]:
df_climate.head()

,Date,Temperature,Relative Humidity,Dew Point,Rain
Date,,,,,
2019-07-05 10:50:00,2019-07-05 10:50:00,18.25,64.68,11.50,0.0
2019-07-05 10:55:00,2019-07-05 10:55:00,18.27,64.12,11.39,0.0
2019-07-05 11:00:00,2019-07-05 11:00:00,17.31,66.58,11.04,0.0
2019-07-05 11:05:00,2019-07-05 11:05:00,16.96,68.21,11.08,0.0
2019-07-05 11:10:00,2019-07-05 11:10:00,17.22,68.62,11.42,0.0

The **Date** column is now used as index and can therefore be dropped to avoid repeated information:

In [66]:
df_climate = df_climate[ ['Temperature', 'Relative Humidity', 'Dew Point', 'Rain'] ]
df_climate.head()

                     Temperature  Relative Humidity  Dew Point  Rain
Date
2019-07-05 10:50:00        18.25              64.68      11.50   0.0
2019-07-05 10:55:00        18.27              64.12      11.39   0.0
2019-07-05 11:00:00        17.31              66.58      11.04   0.0
2019-07-05 11:05:00        16.96              68.21      11.08   0.0
2019-07-05 11:10:00        17.22              68.62      11.42   0.0

To select a particular day, we can use `pd.Timestamp`.

Let's say we want to check the data of the 23rd of August:

In [69]:
start = pd.Timestamp( '2019-08-23, 00:00:00' )
end = pd.Timestamp( '2019-08-24, 00:00:00' )

In [70]:
condition_start = df_climate.index >= start
condition_end = df_climate.index < end

And we can use this new table to calculate the average (or max, min, etc) of the columns on that interval:

In [71]:
df_climate.loc[ condition_start & condition_end ].mean()

Temperature          22.465505
Relative Humidity    54.114739
Dew Point             9.868014
Rain                  0.000000
dtype: float64

Of course, we can also look for other periods with this technique, we just follow the steps:
* Define a start time with `pd.Timestamp`
* Define a finishing time with `pd.Timestamp`
* Check condition: > start
* Check condition: < end
* Select from the table (query)

In [73]:
start = pd.Timestamp( '2019-08-23, 08:00:00' )
end = pd.Timestamp( '2019-08-23, 09:00:00' )

condition_start = df_climate.index >= start
condition_end = df_climate.index < end

df_climate[ condition_start & condition_end ]

                     Temperature  Relative Humidity  Dew Point  Rain
Date
2019-08-23 08:00:00        17.50              75.99      13.24   0.0
2019-08-23 08:05:00        18.04              74.63      13.48   0.0
2019-08-23 08:10:00        18.12              73.30      13.29   0.0
2019-08-23 08:15:00        18.40              72.33      13.35   0.0
2019-08-23 08:20:00        18.81              71.72      13.61   0.0
2019-08-23 08:25:00        19.45              70.54      13.98   0.0
2019-08-23 08:30:00        19.82              68.12      13.79   0.0
2019-08-23 08:35:00        20.27              66.61      13.87   0.0
2019-08-23 08:40:00        20.50              66.15      13.99   0.0
2019-08-23 08:45:00        21.00              64.95      14.17   0.0
2019-08-23 08:50:00        21.30              64.02      14.24   0.0
2019-08-23 08:55:00        21.53              62.02      13.97   0.0

This techinque does not look for exact matches, as the measuring times in the table include seconds that are irregular. It is very useful because it also works in cases when there are empty or not equally distributed timestamps.

It is now very easy to know the average temperature in the period between 8 and 9 that we selected previously:

In [74]:
start = pd.Timestamp( '2019-08-23, 08:00:00' )
end = pd.Timestamp( '2019-08-23, 09:00:00' )

condition_start = df_climate.index >= start
condition_end = df_climate.index < end

df_climate[ condition_start & condition_end ].mean()

Temperature          19.561667
Relative Humidity    69.198333
Dew Point            13.748333
Rain                  0.000000
dtype: float64

#### Resample

Lastly, we will have a quick introduction to `.resample`, a function that allows us to change the interval in which some data are given, either ___upsample___ (get more points, at smaller intervals) or ___downsample___ (agreggating values in bigger intervals).

The data in the climate data frame is stored in intervals of about 5 minutes. 

We will first ___downsample___ it to hourly and daily values.

There are two things that we have to have clear to correctly resample data:

* What the new frequency will be. 1 hour? 15 minutes? 1 day?
* How we will create the new values. Sum? Average?

About the first question, we will use the following letters to specifiy the new frequency:
    
* M â†’ monthly frequency
* W â†’ weekly frequency
* D â†’ daily frequency
* H â†’ hourly frequency
* T â†’ minutely frequency
* S â†’ secondly frequency
* L â†’ milliseonds
* U â†’ microseconds
* N â†’ nanoseconds

About the second question, think that water (liter [L]) from irrigation in the morning and in the afternoon should ___add___ up for a daily value.

On the other hand, the temperature in the morning, and the temperature in the afternoon should be ___averaged___ to give a daily value.

Also, in cases we need the last value, or the first, or the most common in the interval. At the end of this notebook is a link to a very nice post where these options can be consulted.

First we will resample the whole data frame to 1 hour, taking the average of the values in each hourly interval. 

It is like this now:

In [75]:
df_climate.head()

                     Temperature  Relative Humidity  Dew Point  Rain
Date
2019-07-05 10:50:00        18.25              64.68      11.50   0.0
2019-07-05 10:55:00        18.27              64.12      11.39   0.0
2019-07-05 11:00:00        17.31              66.58      11.04   0.0
2019-07-05 11:05:00        16.96              68.21      11.08   0.0
2019-07-05 11:10:00        17.22              68.62      11.42   0.0

In [81]:
df_climate_1h = df_climate.resample( '1H' ).mean()

In [82]:
df_climate_1h.head()

                     Temperature  Relative Humidity  Dew Point  Rain
Date
2019-07-05 10:00:00    18.260000          64.400000  11.445000   0.0
2019-07-05 11:00:00    19.500833          61.140833  11.782500   0.0
2019-07-05 12:00:00    18.815000          62.984167  11.575833   0.0
2019-07-05 13:00:00    19.723333          58.096667  11.257500   0.0
2019-07-05 14:00:00    19.434545          62.000909  11.940000   0.0

In [83]:
df_climate_1h.tail()

                     Temperature  Relative Humidity  Dew Point  Rain
Date
2019-09-11 19:00:00    16.753333          59.288333   8.757500   0.0
2019-09-11 20:00:00    14.031667          68.965000   8.430000   0.0
2019-09-11 21:00:00    13.535833          71.552500   8.502500   0.0
2019-09-11 22:00:00    15.013333          67.598333   9.081667   0.0
2019-09-11 23:00:00    15.812222          64.648889   9.176667   0.0

And now the same for daily values:

In [88]:
df_climate_1d = df_climate.resample( '1D' ).min()

In [89]:
df_climate_1d.head()

            Temperature  Relative Humidity  Dew Point  Rain
Date
2019-07-05        14.22              46.56      10.78   0.0
2019-07-06        11.64              56.25       9.86   0.0
2019-07-07         8.98              49.15       6.57   0.0
2019-07-08         8.19              36.82       5.85   0.0
2019-07-09         6.95              34.65       6.03   0.0

In [90]:
df_climate_1d.tail()

            Temperature  Relative Humidity  Dew Point  Rain
Date
2019-09-07         5.17              26.91       0.55   0.0
2019-09-08        10.42              24.64       6.92   0.0
2019-09-09        10.51              80.83       7.43   0.0
2019-09-10        11.19              48.87       7.50   0.0
2019-09-11         4.59              32.09       3.63   0.0

And that easily we get the daily average temperature and humidity from measurements in 5 minutes interval!

If we wanted to resample with different functions, sometimes the maximum value, for some other columns the sum or the mean, we need to use the following syntax.

In this case, it resamples to the same 1-day frequency, but it returns the minimum temperature and averages the relative humidity.

Remember to import numpy to use the functions `np.max` and `np.mean`!

In [91]:
import numpy as np

In [92]:
df_climate.columns

Index(['Temperature', 'Relative Humidity', 'Dew Point', 'Rain'], dtype='object')

In [93]:
df_climate.resample( '1D' ).apply( {'Temperature':np.sum,
                                    'Relative Humidity':np.mean,
                                    'Rain':np.sum} )

            Temperature  Relative Humidity  Rain
Date
2019-07-05      2947.59          63.214516   0.0
2019-07-06      4704.58          82.019965   3.2
2019-07-07      4005.81          71.401655   0.0
2019-07-08      4315.61          65.162300   0.0
2019-07-09      4420.31          66.716690   0.0
...                 ...                ...   ...
2019-09-07      4017.81          66.988147   0.8
2019-09-08      4028.13          67.396960   0.2
2019-09-09      3011.58          95.580858  19.2
2019-09-10      4127.06          78.862429   0.4
2019-09-11      4217.70          68.934276   0.0

[69 rows x 3 columns]

Lastly, we will show what happens if the new frequency is bigger, i.e. the time intervals are smaller.

In these cases, we get empty spaces, that need to be filled with _something_. Common options are the next or last values, or empty cells.

For an example, we will change the frequency from 5 minutes to 1 minute.

Mean, average and other functions that ___aggregate___ values do not have meaning in this case, because we are "creating" new values, cells that were not there before:

In [98]:
df_climate['Temperature'].resample( '1min' ).ffill()

Date
2019-07-05 10:50:00    18.25
2019-07-05 10:51:00    18.25
2019-07-05 10:52:00    18.25
2019-07-05 10:53:00    18.25
2019-07-05 10:54:00    18.25
                       ...
2019-09-11 23:36:00    16.04
2019-09-11 23:37:00    16.04
2019-09-11 23:38:00    16.04
2019-09-11 23:39:00    16.04
2019-09-11 23:40:00    15.87
Freq: T, Name: Temperature, Length: 98691, dtype: float64

## Exercises

### Lettuce freshweight

Consider the fresh weight measurements of the lettuce experiment, included in the excel file ___lettuce.xlsx___, on the sheet ___Freshweight___.

Import the data and select each one of the treatments.

For each treatment, create a data frame. You can call them `df_Au47`, `df_Au53` and `df_Control`.

Once you have three data frames, save each one of them to a ___csv___ file, using the `.to_csv()` function.

You might want to use the optional parameters:
* sep=';' if you plan to read it easily using microsoft excel
* index=False if you don't want an extra column with the index at the beginning of the file

The general syntax is:

`dataframe_name.to_csv( "filename.csv" )`

### Elements (fertilizers) in tanks

Open the sheet ___Elements___ in the same excel file to a new data frame. You can call it `df_elements`. 

It contains the use of fertilizers in the lettuce experiment. 

There are several rows for each tank of nutrient solution, and we want to know the descriptive statistics of each tank.

Select the first tank and show its descriptive statistics using either of these forms:

`df_elements[ df_elements['Tank']==1 ].describe()`

`tank_condition = df_elements['Tank']==1`

`df_elements[ tank_condition ].describe()`

Create a for loop that counts from 1 to 9, which are the tank numbers. In the loop, include the code you just used to print the statistics and:
* wrap it in a `print()` function to see the statistics for all tanks
* append the following code to the same line to obtain 9 files with the statistics: `.to_csv(str(i)+'.csv')`
* correct the code from last line to make the files names agree with the tank number

## Links

[Pandas official documentation](https://pandas.pydata.org/pandas-docs/stable/)

[A tutorial on pandas](https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673)

[Example about row selection on conditions](https://chrisalbon.com/python/data_wrangling/pandas_selecting_rows_on_conditions/)

[Resampling options, frequency and aggregation functions](http://benalexkeen.com/resampling-time-series-data-with-pandas/)

---