# Reading the date and time fomr the metadata of camera trap pictures

***

Credit to **Kamil Nowakowski** <Kamil.Nowakowski@hnee.de> for kindly providing the images and problem definition!

FIT - Eberswalde 2023

***

<img src='images/camera_trap_images_sample/IMAG0024.JPG' width='300'>

***

This notebook shows several things:
    
* how to open several files in a folder
* how to import a custom library with a function, to reuse code
* how to extract metadata from images and store it in a table
* how to reformat a date using pandas: **pd.to_datetime**

**Problem definition**

Camera traps deliver images which often contain the date and time of the shots. It is necessary to have this information available to perform further analysis. Typying the date and time manually consumes time and is error prone.

The proposed solution is to iterate over the images in a folder, extract the date and time, reformat it and produce a summary table with the information from all the image files.

<img src='images/camera_trap_images_sample/IMAG0277.JPG' width='300'>

***

## Import libraries

In [1]:
import os

In [2]:
import metadata

In [3]:
# Uncomment this line to show the function 
# get_metadata() in the script

# metadata.get_metadata??

## Get a list of files in the folder

*listdir* delivers a list with all the files in the specified folder

Take care of the folder structure! The file names do not contain the folder, it has to be appended!

In [4]:
images_to_read = os.listdir( 'images/camera_trap_images_sample/' )

In [5]:
#images_to_read

<img src='images/camera_trap_images_sample/IMAG0082.JPG' width='300'>

## Iterate over the images and get the dates

Here we use a function previously coded to extract the exif metadata in the images. This function is in the *metadata.py* file that is located in the same folder as this notebook.

We iterate over the elements in the list of files previously retrieved and, for each of those files:

* extract the metadata using the previously coded function
* get the information under the tag 'DateTimeOriginal'
* put the information into a list (originally empty)

In [6]:
dates = []
for image in images_to_read:
    md = metadata.get_metadata( 'images/camera_trap_images_sample/'+image )
    dates = dates + [md['DateTimeOriginal']]

In [7]:
#dates

## Create a table with name of the file and date-time

In [8]:
import pandas as pd

Create a pandas dataframe from two lists. It can be done in different ways, the next cells yield equivalent results.

In [9]:
df = pd.DataFrame( data={"files":images_to_read, "dates":dates} )
df

          files                dates
0  IMAG0082.JPG  2021:01:18 16:31:45
1  IMAG0411.JPG  2020:11:21 17:00:49
2  IMAG0114.JPG  2020:10:30 16:27:09
3  IMAG1711.jpg  2020:09:09 14:29:20
4  IMAG0083.JPG  2021:05:19 04:23:23
5  IMAG0030.JPG  2021:02:10 11:34:34
6  IMAG0024.JPG  2021:06:08 05:05:25
7  IMAG0277.JPG  2021:01:27 12:46:35
8  IMAG0090.JPG  2021:02:02 02:45:22

In [10]:
table = [[a, b] for a, b in zip(images_to_read,dates)]
df = pd.DataFrame(data=table, columns=['files','dates'])
df

          files                dates
0  IMAG0082.JPG  2021:01:18 16:31:45
1  IMAG0411.JPG  2020:11:21 17:00:49
2  IMAG0114.JPG  2020:10:30 16:27:09
3  IMAG1711.jpg  2020:09:09 14:29:20
4  IMAG0083.JPG  2021:05:19 04:23:23
5  IMAG0030.JPG  2021:02:10 11:34:34
6  IMAG0024.JPG  2021:06:08 05:05:25
7  IMAG0277.JPG  2021:01:27 12:46:35
8  IMAG0090.JPG  2021:02:02 02:45:22

### Change the format of the date, which has colon as separator **:**

*pd.to_datetime* allows to specify the concrete format of date and time. Very often we have files with mixed formatting, in this particular case the year, month and day in the date are separated by colon, with the year at the beginning and the day at the end.

In [11]:
df['Timestamp'] = pd.to_datetime(df['dates'],format='%Y:%m:%d %H:%M:%S')

In [12]:
df

          files                dates           Timestamp
0  IMAG0082.JPG  2021:01:18 16:31:45 2021-01-18 16:31:45
1  IMAG0411.JPG  2020:11:21 17:00:49 2020-11-21 17:00:49
2  IMAG0114.JPG  2020:10:30 16:27:09 2020-10-30 16:27:09
3  IMAG1711.jpg  2020:09:09 14:29:20 2020-09-09 14:29:20
4  IMAG0083.JPG  2021:05:19 04:23:23 2021-05-19 04:23:23
5  IMAG0030.JPG  2021:02:10 11:34:34 2021-02-10 11:34:34
6  IMAG0024.JPG  2021:06:08 05:05:25 2021-06-08 05:05:25
7  IMAG0277.JPG  2021:01:27 12:46:35 2021-01-27 12:46:35
8  IMAG0090.JPG  2021:02:02 02:45:22 2021-02-02 02:45:22

### Delete the *dates* column, it is not needed anymore

In [13]:
df = df.drop( ['dates'], axis='columns' )

### Save the table to a CSV file, without the index

In [14]:
df.to_csv( "dates_cams.csv", sep=";", index=False )

The table was saved to a file, with all file names in the folder and the corresponding date and time. It can be used to continue the analysis of the images.

<img src='images/camera_trap_images_sample/IMAG1711.jpg' width='300'>

***